body {
  background: skyblue;
  color: white;
}

table {
  background: white;
  color: black;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid red;
}

thead,
tbody {
  text-align: center;
}

tr:hover {
  background: black;
  color: white;
}

table tbody tr:nth-child(odd) {
  background: violet;
}

table tbody tr:nth-child(odd):hover {
  background: white;
  background: black;
}

table tbody tr:nth-child(even) {
  background: yellowgreen;
}

table tbody tr:nth-child(even):hover {
  background: springgreen;
}
h2 {
  text-align: center;
}

img {
  width: 100px;
  border-radius: 20px;
  display: block;
  margin: auto;
}
