{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div {
        border: 1px solid red;
        width: 48%;
        display: inline-block;
      }
      span {
        border: 1px solid blue;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'i_frame_bg_img' %}">Iframe & Bg Image</a>
    <div>
      Hello1
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sit
        consequatur qui. Quos iste tenetur dolore veritatis soluta, sint fugit
        neque minima eligendi ad nisi provident culpa voluptatibus laborum
        architecto.
      </p>
    </div>
    <div><img src="{% static 'image.jpeg' %}" alt="" /></div>
    <p>
      Lorem <span style="background: chartreuse">ipsum dolor</span> sit amet
      consectetur adipisicing elit. Praesentium dolore quos ex. Commodi
      explicabo iure eos alias quibusdam rerum, labore mollitia aperiam
      exercitationem consequatur eum voluptatem minus deleniti voluptates est!
    </p>
  </body>
</html>
