<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="border: 2px solid black">
    <a href="{% url 'position_css' %}">Position Css</a>
    <h2
      style="
        text-align: center;
        border: 2px solid red;
        margin: 20px;
        padding: 10px;
        color: white;
        height: 500px;
        /* background: green; */
        background: url(../static/image.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
      "
    >
      Hello
    </h2>
    <iframe src="http://127.0.0.1:8000/table"></iframe>

    <!-- google map -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0561195235823!2d76.69247711396508!3d30.716822693452656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1630408056440!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>

    <!-- youtubw videos  -->

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/I0-5Xcp71I8"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </body>
</html>
