{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h2>Image</h2>
    <a href="{% url 'div_span' %}">DIV Span</a>
    <img src="{% static 'image.jpeg' %}" alt="sunset view" />
    <!-- <strong style="background: red">BsdfdfsOLD</strong>
    <span>Dummy data</span>
    <h4 style="background: red">sdfdsfdsfdsdsfdsfBOLD</h4>
    <span>Dummy data</span> -->
  </body>
</html>
