{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <style>
      a {
        background: pink;
        text-decoration: none;
      }
      /* pseudo class */
      a:hover {
        background: blue;
        text-decoration: line-through;
        color: white;
      }
      a:active {
        font-size: 30px;
        color: yellow;
      }
      a:visited {
        color: gray;
        background: pink;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto p-3 bg-dark">
          <form method="post" action="{% url 'add_data' %}">
            {% csrf_token %}
            <h2 class="text-white">Register</h2>
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="form-control"
            />
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control"
            />
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
            />
            <input type="submit" name="" id="" />
          </form>
        </div>
      </div>
    </div>

    <!-- text formating tags -->
    <!-- 10 power 3 10 <sup>3</sup> 5 th 5 <sup>th</sup> -->
    <h2>Hello</h2>
    <a href="{% url 'about_us' %}" target="_blank">About Us</a>
    <a href="{% url 'table_page' %}" target="_blank">Table</a>
    <p></p>
    <!-- list -->
    <!-- order list -->
    <ol>
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
    </ol>
    <!-- unorder list -->
    <ul>
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
    </ul>
    <!-- description list -->
    <dl>
      <dt>HTML</dt>
      <dd>V.5</dd>

      <dt>CSS</dt>
      <dd>V.3</dd>
    </dl>
  </body>
</html>
