<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'more_input' %}">More input</a>
    <h2 style="text-align: center">Input</h2>
    <input type="text" placeholder="Enter my name" />
    <input type="email" placeholder="Enter my email" />
    <input type="number" placeholder="Enter my number" />
    <input type="password" placeholder="Enter my password" />
    <input type="radio" name="gender" /><span>Male</span>
    <input type="radio" name="gender" /><span>Female</span>
  </body>
</html>
