<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h2 {
        text-align: center;
      }
      a {
        background: pink;
        text-decoration: none;
      }
      /* pseudo class */
      a:hover {
        background: blue;
        text-decoration: line-through;
        color: white;
      }
      a:active {
        font-size: 30px;
        color: yellow;
      }
      a:visited {
        color: gray;
        background: pink;
      }
    </style>
  </head>
  <body>
    <h2>Anchor Tag</h2>
    <a href="{% url 'index' %}">Home page</a>
    <a href="{% url 'contact' %}">Contact</a>
  </body>
</html>
