<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #box {
        width: 200px;
        height: 200px;
        background: red;
        border-radius: 50%;
        animation-name: myani;
        animation-duration: 2s;
        animation-direction: normal;
        /* animation-delay: 5s; */
        animation-iteration-count: infinite;
      }

      @keyframes myani {
        from {
          margin: 0px;
        }
        to {
          margin: 100px 50px;
        }
      }

      /* @keyframes myani {
        0% {
        }
        1.5% {
        }
        20% {
        }
      } */
    </style>
  </head>
  <body>
    <a href="{% url 'video_audio' %}">Video Audio</a>
    <h2 style="text-align: center">keyframe</h2>

    <div id="box"></div>
  </body>
</html>
