<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      input[type="date"] {
        background: red;
        width: 200px;
        display: block;
      }
      form {
        width: 30%;
        margin: auto;
      }
      form input {
        width: 100%;
        background: white;
        display: block;
        margin: 10px 0px 10px 0px;
        border: 2px solid gray;
        border-radius: 20px;
      }
      form input[type="radio"] {
        display: inline;
        width: auto;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'keyframe' %}">Keyframe</a>
    <h2 style="text-align: center">More Input</h2>
    <input type="checkbox" /><span>milk</span> <input type="checkbox" /><span
      >Coffee</span
    >
    <input type="date" />
    <input type="time" />
    <input type="datetime-local" />
    <input type="range" />
    <input type="submit" />
    <input type="search" />
    <input type="file" />
    <input type="reset" />
    <input type="week" />

    <form style="border: 2px solid black; padding: 20px" action="">
      <input type="text" placeholder="Username" required />
      <input type="email" placeholder="email" required />
      <input type="number" placeholder="Phone no" />
      <input type="password" placeholder="password" required />
      <input type="date" placeholder="dob" required />
      <input type="radio" name="gender" required /> <span>Male</span>
      <input type="radio" name="gender" /> <span>Female</span>
      <input type="checkbox" required /><span>Terms and Condition</span>
      <input type="submit" />
      <input type="reset" />
    </form>
  </body>
</html>
