<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2
      style="
        text-align: center;
        background: burlywood;
        position: fixed;
        width: 100%;
        top: 0px;
        margin: 0px;
        left: 0px;
      "
    >
      Heading
    </h2>
    <a style="margin-top: 50px" href="{% url 'pseudo_element' %}"
      >Pseudo Element</a
    >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p style="background: red; position: sticky; top: 3px; z-index: -1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nihil
      repellendus! Quasi atque consectetur facilis. Cumque, explicabo tenetur.
      Dicta iste aliquam numquam harum beatae! Magnam, natus! Voluptatibus odio
      voluptates nihil.
    </p>
  </body>
</html>
