<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #box1,
      .box2,
      #box3,
      .box4 {
        width: 200px;
        height: 200px;
        position: absolute;
      }
      #box1 {
        background: violet;
      }
      .box2 {
        background: gray;
        top: 0px;
        right: 0px;
      }
      #box3 {
        background: blue;
        bottom: 0px;
        left: 0px;
      }
      .box4 {
        background: green;
        bottom: 0px;
        right: 0px;
      }
      .main {
        border: 5px solid yellow;
        position: relative;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <!-- id , class -->
    <a href="{% url 'position_' %}">Position Fixed and Sticky</a>
    <div class="main">
      <div id="box1">1</div>
      <div class="box2">2</div>
      <div id="box3">3</div>
      <div class="box4">4</div>
    </div>
  </body>
</html>
