<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p::first-letter {
        font-size: 50px;
        color: red;
      }
      p::first-line {
        color: gray;
      }

      p::selection {
        color: green;
        background: yellow;
      }

      p::before {
        content: "***";
      }

      p::after {
        content: "***";
        color: violet;
      }

      /* typography */
      p {
        text-indent: 40px;
        /* letter-spacing: 25px; */
        word-spacing: 25px;
        line-height: 50px;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'input_' %}">Input</a>
    <h2 style="text-align: center">Pseudo Element, Typography , Overflow</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quod at
      nesciunt sit tempora earum cumque quidem repudiandae. Voluptatibus quia
      sequi sint laborum suscipit, vel velit similique officiis ipsam? Harum!
    </p>
    <div
      style="
        border: 2px solid red;
        width: 300px;
        height: 100px;
        overflow: scroll;
      "
    >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, illum?
      Inventore culpa atque est eius, debitis quibusdam quia ea, repudiandae
      corrupti nisi aspernatur accusantium fugit, nulla quo porro assumenda
      odit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint,
      illum? Inventore culpa atque est eius, debitis quibusdam quia ea,
      repudiandae corrupti nisi aspernatur accusantium fugit, nulla quo porro
      assumenda odit?
    </div>
  </body>
</html>
