{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <a href="{% url 'image_page' %}">Image </a>
    <h3 style="text-align: center; text-transform: capitalize">table</h3>
    <!-- table -->
    <table>
      <thead>
        <tr>
          <th>S no</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Jarvis</td>
          <td>J@gmai.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jarvis</td>
          <td>J@gmai.com</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Jarvis</td>
          <td>J@gmai.com</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Jarvis</td>
          <td>J@gmai.com</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Jarvis</td>
          <td>J@gmai.com</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>S no</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
